.sound {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    display: inline-block; }
    .sound--icon {
      color: #333;
      width: 75%;
      height: 100%;
      line-height: 100%;
      font-size: 100px;
      display: block;
      margin: auto; }
    .sound--wave {
      position: absolute;
      border: 4px solid transparent;
      border-right: 4px solid #333;
      border-radius: 50%;
      transition: all 200ms;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .sound--wave_one {
        width: 50%;
        height: 50%; }
      .sound--wave_two {
        width: 75%;
        height: 75%; }
    .sound-mute .sound--wave {
      border-radius: 0;
      width: 50%;
      height: 50%;
      border-width: 0 4px 0 0; }
      .sound-mute .sound--wave_one {
        transform: rotate(45deg) translate3d(0, -50%, 0); }
      .sound-mute .sound--wave_two {
        transform: rotate(-45deg) translate3d(0, 50%, 0); }


        body{
            margin:20px
        }